<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="display">
            <img src="<%= "/header/#{@user.header_name}" %>">
        </div>
        <div class="undericon">
            <a class="link_profile" href="./edit.html.erb">プロフィールを編集</a>
        </div>
        
        
        <div id="wrapper">
            
            <!-- 左カラム　開始 -->
            <div id="leftColumn_mypage" class="icon">
                <img src="<%= "/icon/#{@user.icon_name}" %>"><br>
                <font size="5"><b><%= @user.name %></b></font><br>
                <font size="2">@<%= @user.login_id %></font><br>
                <font size="2"><%= @user.profile %></font>
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn_mypage">
                <% @user.tweets.each do |tweet| %>
                    <div class="posts-index-item">
                        <div class="post-left">
                            <img src="<%= "/icon/#{tweet.user.icon_name}" %>">
                        </div>
                        <div class="post-right">
                            <div class="post-user-name">
                                <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
                            </div>
                            <a><%= link_to(tweet.content, "/show/#{tweet.id}") %></a>
                        </div>
                    </div>
                <% end %>
            
            </div>
            <!-- 右カラム　終了 -->

        </div>
    </body>


