<!DOCTYPE html>
<html>
    <body>
        <div class="display">
            <img src="<%= "/header/#{@user.header_name}" %>">
        </div>
        <div class="undericon">
            <a class="link_profile" href="<%= "/edit/#{@user.id}" %>">プロフィールを編集</a>
        </div>
        
        
        <div id="wrapper">
            
            <!-- 左カラム　開始 -->
            <div id="leftColumn_mypage" class="icon">
                <img src="<%= "/icon/#{@user.icon_name}" %>"><br>
                <font size="5"><b><%= @user.name %></b></font><br>
                <font size="2">@<%= @user.login_id %></font><br>
                <font size="2"><%= @user.profile %></font>
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn_mypage">
            右カラム
            
            </div>
            <!-- 右カラム　終了 -->

        </div>
    </body>


